.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    color: var(--Off-white);
    border-bottom: 1px solid var(--Dark-grayish-blue);
}

.article:last-child {
    border: none
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
}

.article:hover .title {
    color: var(--Soft-orange);
}