main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-inline: 100px;
}

.top {
     display: flex;
     gap: 20px;
}

.bottom {
    display: flex;
    gap: 20px;
}

.bottom > * {
    flex: 1;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    background-color: var(--Very-dark-blue);
    padding: 20px;
    flex: 1;
}

.cover-image {

    display: flex;
}

.cover-texts {
    display: flex;
}

.cover-texts > * {
    flex: 1;
}

.cover-texts > h1 {
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: 3rem;
}

.cover-texts > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-texts button {
    font-weight: 600;
    color: var(--Very-dark-blue);
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    background-color: var(--Soft-red);
    width: fit-content;
}

.cover-texts button:hover {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}

.right > h2 {
    font-size: 2rem;
    color: var(--Soft-orange);
}